body{
    margin: 0;
    background-color: #d9dadb;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    width: 100vw;
}
  
.nav li {
    float: left;
    font-weight: bold;
}
  
.nav li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.grid-container{
    display: grid;
    gap: 10px;
    padding: 10px;
    height: 700px;
}

.fixed-container{
    position: fixed;
    height: 100vh;
}

.container{
    box-sizing: border-box;
    background-color: gray;
    width: 100vw;
    max-width: 1500px;
}

.grid-item{
    min-width: 0; 
    min-height: 0;
}

.box {
    background-color: white;
    padding: 15px;
    border-radius: 7px;
}

.textbox .title{
    font-size: 13px;
}

.textbox .text{
    margin-top: 20px;
    font-size: 30px;
}

.textbox .updated{
    font-size: 8px;
    margin-top: 15px;
}