<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js" integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="static/css/home.css">
    <title>Home</title>
</head>
<body>
    <ul class="nav">
        <li id="2">Ground Water Sensor</li>
    </ul> 

    <div class="grid-container container" id="gridcontainer">
        <div class="grid-item box textbox">
            <div class="title" id="3">Water Height</div>
            <div class="text" id="water_height">{{ .Height }}m</div>
            <div class="updated">Updated Just Now</div>
        </div>
    
        <div class="grid-item box textbox">
            <div class="title">Percent Filled</div>
            <div class="text" id="percent_filled">{{ .Percentage }}%</div>
            <div class="updated">Updated Just Now</div>
        </div>
    
        <div class="grid-item box textbox">
            <div class="title">Percent Changed (In 24 Hours)</div>
            <div class="text">
                <span id="percentage_changed_sign">{{ .Percentage_changed_sign }}</span><span id="percentage_changed">{{ .Percentage_changed }}</span>%
            </div>
            <div class="updated">Updated Just Now</div>
        </div>
    
        <div class="grid-item box textbox">
            <div class="title">Distance Changed (In 3 Hours)</div>
            <div class="text">
                <span id="distance_changed_sign">{{ .Distance_changed_sign }}</span><span id="distance_changed">{{ .Distance_changed }}</span>m
            </div>
            <div class="updated">Updated Just Now</div>
        </div>

        <div class="grid-item box" id ="linegraphbox">
            <div id="linegraph-wrapper">
                <canvas id="linegraph"></canvas>
            </div>

            <div style="margin-top: 20px;">
                <div style="display: inline-block;">
                    <label for="start-date">Start Date</label>
                    <input type="date" name="start-date" id="start-date" onchange="getNewGraph()">
                </div>
                <div style="display: inline-block;">
                    <label for="end-date">End Date</label>
                    <input type="date" name="end-date" id="end-date" onchange="getNewGraph()">
                </div>
            </div>
        </div>

        <div class="grid-item box" id="barchartbox">
            <div id="barchart-wrapper" style="height: 490px;">
                <canvas id="barchart"></canvas>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 2px;">
                <div style="background-color: rgb(240, 43, 29); display: inline-block; width: 40px; height: 12px;"></div>
                <div style="font-size: x-small; color: rgb(80, 80, 80); vertical-align: middle; margin-left: 5px; display: inline-block;">Top Of Large Clay Land Drain</div>
            </div>
        </div>   
    </div>

    <div class="container fixed-container">
        </div>
    
    <script>
        const percentage = {{ .Percentage }}

        const barchart = new Chart("barchart", {
            type: "bar",
            data: {
                labels: ["Percent Filled"],
                datasets: [{
                    label: "Percent Filled",
                    maxBarThickness: 100,
                    backgroundColor:"rgba(58, 152, 199,0.9)",
                    data: [percentage]
                }]
            },
            options:{
                maintainAspectRatio: false,
                scales:{
                    y:{
                        beginAtZero: true,
                        max: 100
                    }
                },
                animation: {
                   duration: 0
                },
                plugins:{
                    annotation:{
                        annotations:{
                            box1:{
                                type: 'line',
                                yMin: 48,
                                yMax: 48,
                                borderColor: 'rgb(240, 43, 29)',
                                borderWidth: 2,
                            }
                        }
                    }
                }
            }  
        });
        

        function cleanLinegraphValues(values){
            for (var i=0; i<values.length; i++){
                if (values[i] == -1){
                    values[i] = null
                }
            }
        }

        var linegraph_values = {{ .Graph_data }}
        cleanLinegraphValues(linegraph_values)
        
        const linegraph_labels = {{ .Graph_labels }}
        linegraph_times = {{ .Graph_times }}

        const linegraph = new Chart("linegraph", {
            type: "line",
            data: {
                labels: linegraph_labels,
                datasets: [{
                    label: "Chamber Water Level",
                    backgroundColor:"rgba(58, 152, 199,0.9)",
                    borderColor: "rgba(58, 152, 199,0.9)",
                    data: linegraph_values,
                }]
            },
            options:{
                maintainAspectRatio: false,
                animation: {
                   duration: 0
                },
                plugins:{
                    tooltip:{
                        callbacks: {
                            title: function(context){
                                return "Reading Number " + context[0].dataIndex;
                            },
                            afterTitle: function(context){
                                return linegraph_times[context[0].dataIndex]
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100,
                        title: {
                            display: true,
                            text: "Water Level (Percent Filled)"
                        },
                    },
                    x:{
                        type: 'linear',
                        title: {
                            display: true,
                            text: "Time ({{ .Time_unit }})"
                        },
                        ticks:{
                            stepSize: 1
                        }
                        
                    }
                }
            }  
        });

        var start_date = document.getElementById("start-date")

        start_date.value = "{{ .Start_date }}"
        start_date.min = "{{ .Start_date_min }}"
        start_date.max = "{{ .Start_date_max }}"

        var end_date = document.getElementById("end-date")
        
        end_date.value = "{{ .End_date }}"
        end_date.min = "{{ .End_date_min }}"
        end_date.max = "{{ .End_date_max }}"

        var linegraphbox = document.getElementById("linegraphbox")
        var gridcontainer = document.getElementById("gridcontainer")
        var linegraph_wrapper = document.getElementById("linegraph-wrapper")
        var barchartbox = document.getElementById("barchart-wrapper")

        window.addEventListener("resize", resize);
        resize()

        function resize(){
            //950
            if (window.innerWidth > 950){
                linegraphbox.setAttribute("style", "grid-column: span 3;")
                gridcontainer.setAttribute("style", "height: 700px; grid-template-rows: 135px 530px; grid-template-columns: auto auto auto auto;")
                linegraph_wrapper.setAttribute("style", "height: 450px;")
                barchartbox.setAttribute("style", "max-width: 230px;")
                //barchart_wrapper.setAttribute("style", "height: 500px;")
            }
            else if (window.innerWidth > 600){
                linegraphbox.setAttribute("style", "grid-column: span 1;")
                gridcontainer.setAttribute("style", "height: 900px; grid-template-rows: 135px 135px 520px; grid-template-columns: auto auto;")
                linegraph_wrapper.setAttribute("style", "height: 430px;")
                barchartbox.setAttribute("style", "max-width: 230px;")
                //barchart_wrapper.setAttribute("style", "height: 500px;")
            }
            else{
                linegraphbox.setAttribute("style", "grid-column: span 1;")
                gridcontainer.setAttribute("style", "grid-template-rows: repeat(4, 135px) 480px; height: auto; grid-template-columns: auto;")
                linegraph_wrapper.setAttribute("style", "height: 380px;")
                barchartbox.removeAttribute("style")
                //
            }
        }

        function updateData(){
            console.log("Data Updating")

            var date = new Date()
            end_date.max = date.toISOString().split('T')[0]

            const xhr = new XMLHttpRequest()
            xhr.open("GET", "/sensor/api/getNewData")
            xhr.send()
            xhr.responseType = "json"

            xhr.onload = () =>{
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var water_height = document.getElementById("water_height")
                    var percent_filled = document.getElementById("percent_filled")
                    var percentage_changed_sign = document.getElementById("percentage_changed_sign")
                    var percentage_changed = document.getElementById("percentage_changed")
                    var distance_changed_sign = document.getElementById("distance_changed_sign")
                    var distance_changed = document.getElementById("distance_changed")

                    var response = xhr.response

                    water_height.innerText = response["Height"] + "m"
                    percent_filled.innerText = response["Percentage"] + "%"
                    percentage_changed_sign.innerText = response["Percentage_changed_sign"]
                    percentage_changed.innerText = response["Percentage_changed"]
                    distance_changed_sign.innerText = response["Distance_changed_sign"] 
                    distance_changed.innerText = response["Distance_changed"]

                    barchart.data.datasets[0].data = [response["Percentage"]]
                    barchart.update()

                    last_changed_minutes = 0

                    elements = document.getElementsByClassName("updated")
                    for (var i=0; i<elements.length; i++){
                        elements[i].innerText = "Updated Just Now"
                    }
                }
            }

            getNewGraph()
        }

        function getNewGraph(){
            console.log("Graph Updating")

            const xhr = new XMLHttpRequest()
            var url = "/sensor/api/getNewGraph?startdate="+ start_date.value +"&enddate=" + end_date.value

            xhr.open("GET", url)
            xhr.send()
            xhr.responseType = "json"

            xhr.onload = () =>{
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = xhr.response

                    var values = response["Graph_data"]
                    cleanLinegraphValues(values)
                    linegraph.data.datasets[0].data = values

                    linegraph_times = response["Graph_times"]
                    
                    linegraph.data.labels = response["Graph_labels"]
                    linegraph.options.scales.x.title.text = "Time (" + response["Time_unit"] + ")"
                    linegraph.update()
                }
            }
        }

        last_changed_minutes = 0

        function changeLastUpdated(){
            last_changed_minutes += 1
            console.log(last_changed_minutes)
            
            elements = document.getElementsByClassName("updated")
            for (var i=0; i<elements.length; i++){
                elements[i].innerText = "Last Updated " + last_changed_minutes + "m Ago"
            }
        }

        //Called every 5 mins 10 seconds
        setInterval(updateData, 310_000);

        //Called every 1 min
        setInterval(changeLastUpdated, 60_000);

    </script>
</body>
</html>