[Unit]
Description=Sensor Service
After=network.target mysql.serivce

[Service]
Type=simple
Restart=always
RestartSec=1
User=sensoruser
ExecStart=/bin/bash -c 'cd /home/sensoruser/groundWaterSensor/sensor && python3 sensor.py'

[Install]
WantedBy=multi-user.target